# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
.env
venv/
.venv/
*.pyc
*.pyo
*.pyd
*.sqlite3
__pycache__/
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Sistema
*.bak
*.swp

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
